body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

h1 {
  color: #333;
  margin-bottom: 20px;

}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form input {
  margin: 5px 0;
  padding: 10px;
  width: 40%; 
  border: 2px solid #ddd;
  border-radius: 5px;
}

.form input:focus {
  border-color: #007bff;
  outline: none;
}

.form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

.lable {
  display: flex;
  justify-content: left;
}
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 60%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  flex-grow: 1;
  text-align: center;
}

.reset {
  margin-left: 10px;
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .form input {
    width: 100%;
  }
  .error{
    margin-left: 0;

  }
}